{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <header class="navbar">
        <a href="{% url 'homepage' %}" class="navbar__logo">BM</a>
        <nav class="navbar__menu">
            <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
        <a href="#contact" class="navbar__cta">Let’s Talk</a>
    </header>


    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>© 2025 Ben Meadows. All rights reserved.</p>
    </footer>
</body>
</html>
